{% extends 'base.html' %}
{% block pagetitle %} Home {% endblock %}
Other text goes here, just checking

{% block body %}
  <body>

    <div class="container">
      
      <div class="jumbotron">
        <div class="row" style="padding-left:30px;padding-right:30px"><h1>Moore Theater</h1>
        <p class="lead">Looking for something to do on your night off? Why not click the link below or on the navigation bar to check out our performances this week.</p>
        <p><a class="btn btn-lg btn-danger" href="\performances" role="button">Performances</a></p></div>
      </div>
      <div class="container" style="background:black; opacity:.8">
      <div class="row marketing">
        <div class="col-lg-6">
          <h3 style="color: white;">Upcoming</h3>
          <p style="color: white;">This month, we are hoping to gain performances from the Golden Mammoths and Crazy Arms! Follow us on Facebook and Twitter to stay posted.</p>

          <h3 style="color: white;">About</h3>
          <p style="color: white;">Being passionate about the performing arts, the Moore family was unhappy with the lacking theaters in Flagstaff. They decided to open their own theater in the 90s and have been thriving ever since.</p>

          <h3 style="color: white;"><a href ="\location" style = color:white>Location</a></h3>
          <p style="color: white;">Wondering how to find our totally obscure theater? Check out the Location tab to see how to find us.</p>
        </div>

        <div class="col-lg-6">
          <h3 style="color: white;">Theater News</h3>
          <p style="color: white;">There will be construction on the theater in the upcoming year. We plan to add more stages to offer more performances at once!</p>

          <h3 style="color: white;"><a href ="\merchandise" style = color:white>Merchandise</a></h3>
          <p style="color: white;">Working with our up and coming artists, we are offering merchandise for our theater and performers in our shop. Please check it out!</p>

          <h3 style="color: white;"><a href = "\tickets" style = color:white>Tickets</a></h3>
          <p style="color: white;">Please check out our Tickets tab in the navigation bar to reserve you spot at our performances this week.</p>
        </div>
      </div>
      </div>



    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
{% endblock %}

