{% extends 'base.html' %}
{% block pagetitle %} Performances {% endblock %}
{% block body %}
<div class="container">
  <body>
  	<div class="container">
	<h1>Upcoming Performances</h1>
	
     <table class="table text-center">
     	<thead class="text-center">
     		<th style="text-align:center;">Title</th>
     		<th style="text-align:center;">Description</th>
     		<th style="text-align:center;">Date</th>
     		<th style="text-align:center;">Genre</th>
     		<th style="text-align:center;">Cost</th>
     	</thead>
     {% for event in events %} 
     <tr> <td>{{ event.name }} </td>
     	<td> {{ event.description }} </td>
     	<td> {{ event.date }} </td>
     	<td> {{ event.genre }} </td>
     	<td> ${{ event.cost }} </td>
     </tr>
     {% endfor %}
     </table>
    </div> <!-- /container -->
  </body>
  

{% endblock %}