{% extends 'base.html' %}
{% block pagetitle %} Performances {% endblock %}
{% block body %}
<div class = "container" style="background-color:Black;opacity:.75;">
<center><u><h1>The Sqeaky Dozen</h1></u></center>
<h3>The Sqeaky Dozen is a bluegrass group from Illinois. Believe it or not, they are all brothers and sisters! This family group were brought up with their mother singing to them while they all played makeshift instuments, so music is in their blood.</h3>
<!-- /container-->
{% endblock %}